@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
.hero-section {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-auto-flow: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/Oranges.png);
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  .hero-section .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: xx-large; }
  .hero-section .hero-text-main {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 62%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: xx-large; }
  .hero-section .oc-img img {
    height: 6rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 31%;
    transform: translate(-50%, -50%); }
  .hero-section .heroImg img {
    height: 20rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 31%;
    transform: translate(-50%, -50%); }

.subHero-section {
  height: 30vh; }

body {
  background-color: red; }

.blue {
  color: blue; }

.yellow {
  color: yellow; }

.black {
  color: black; }

.white {
  color: white; }

.orange {
  color: orange; }

.btn--twitter {
  background-color: #55acee; }

.btn--facebook {
  background-color: #3a5795; }

.btn--instagram {
  background-color: #ffffff00; }

.caja {
  background-color: #0474bc;
  text-align: center;
  font-size: 1rem; }

.button, .btn-primary, .btn-secondary {
  border: none;
  outline: 0;
  display: inline-block;
  padding-left: 1rem;
  padding-bottom: .5rem;
  padding-right: 1rem;
  color: #eee;
  background-color: #e15e14;
  text-align: center;
  cursor: pointer;
  border-radius: 2px; }

.btn-primary {
  padding-right: 3rem;
  padding-left: 3rem; }

.btn-secondary {
  background: blue;
  text-decoration: none;
  transition: all .4s ease; }

.box {
  height: 50px;
  width: 500px;
  color: orange; }

.imagenesCarousel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

#navbar {
  display: grid;
  min-height: 100px;
  grid-auto-flow: column;
  background-color: #fcfcfc;
  grid-gap: 1.5em;
  padding: 0 40px;
  -webkit-box-shadow: -1px 4px 5px 0px #d1cdd1;
  -moz-box-shadow: -1px 4px 5px 0px #d1cdd1;
  box-shadow: -1px 4px 5px 0px #d1cdd1; }

.topnav {
  overflow: hidden;
  background-color: white;
  display: flex;
  align-items: center; }
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px; }
    .topnav a:hover {
      background-color: #e15e14;
      color: white;
      text-decoration: none; }
    .topnav a:active {
      background-color: #e15e14;
      color: white; }
  .topnav .icon {
    display: none; }

#logo {
  display: grid;
  justify-content: end;
  margin-left: auto; }
  #logo:span {
    color: #0474bc; }

img.nav-logo {
  height: 5rem; }

/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1 {
  color: white;
  font-size: 5rem; }

.section {
  display: grid;
  grid-auto-flow: inherit;
  grid-gap: 2rem;
  padding: 7rem; }

.container {
  margin-bottom: 3rem; }

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  color: white;
  background-color: #e15e14;
  text-align: center;
  cursor: pointer;
  border-radius: 2px; }
  button a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 10px; }
  button:hover {
    transform: scale(1.1);
    transition: 2s; }

footer {
  display: flex;
  height: 35vh;
  width: 100%;
  background-color: #e15e14;
  line-height: 1.3;
  font-family: Menlo, monospace;
  flex-direction: column; }

.welcome-section {
  display: grid;
  grid-template-columns: auto;
  grid: none;
  column-gap: 50px;
  justify-content: center;
  align-content: center;
  grid-auto-flow: column;
  align-items: center;
  padding: 4rem;
  justify-items: center; }
  .welcome-section .welcome-image img {
    height: 25rem; }
    .welcome-section .welcome-image img:hover {
      height: 15rem;
      transition: width 2s, height 4s; }
  .welcome-section .text p {
    text-align: left; }

.localBusiness-section {
  background-color: #e15e14;
  margin: 0;
  display: grid;
  grid-template-rows: 500px 100px;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
  align-items: center;
  justify-items: center; }
  .localBusiness-section main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none; }
  .localBusiness-section div.item {
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: #fc6027;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs))); }
  .localBusiness-section .item {
    background-size: cover; }
  .localBusiness-section div.item:nth-of-type(1) {
    --offset: 1;
    background-image: url(../assets/bus1.png); }
  .localBusiness-section div.item:nth-of-type(2) {
    --offset: 2;
    background-image: url(../assets/BUSS2.png); }
  .localBusiness-section div.item:nth-of-type(3) {
    --offset: 3;
    background-image: url(../assets/BUSS3.png); }
  .localBusiness-section div.item:nth-of-type(4) {
    --offset: 4;
    background-image: url(../assets/BUSS4.png); }
  .localBusiness-section div.item:nth-of-type(5) {
    --offset: 5;
    background-color: #e9ff70;
    background-image: url(../assets/BUSS5.png); }
  .localBusiness-section input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3; }
  .localBusiness-section input:nth-of-type(1):checked ~ main#carousel {
    --position: 3; }
  .localBusiness-section input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3; }
  .localBusiness-section input:nth-of-type(2):checked ~ main#carousel {
    --position: 2; }
  .localBusiness-section input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3; }
  .localBusiness-section input:nth-of-type(3):checked ~ main#carousel {
    --position: 3; }
  .localBusiness-section input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3; }
  .localBusiness-section input:nth-of-type(4):checked ~ main#carousel {
    --position: 4; }
  .localBusiness-section input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3; }
  .localBusiness-section input:nth-of-type(5):checked ~ main#carousel {
    --position: 3; }

.IG-section {
  display: block;
  text-align: center;
  padding: 5rem; }

.image-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  padding-bottom: 1rem; }
  .image-container .image {
    position: relative;
    padding-bottom: 100%; }
    .image-container .image img {
      height: 100%;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      left: 0;
      position: absolute;
      top: 0; }
    .image-container .image img:nth-of-type(1) {
      filter: grayscale(1) brightness(40%); }
    .image-container .image img:nth-of-type(2) {
      -webkit-clip-path: var(--clip-start);
      clip-path: var(--clip-start);
      transition: -webkit-clip-path 0.5s;
      transition: clip-path 0.5s;
      transition: clip-path 0.5s, -webkit-clip-path 0.5s; }
    .image-container .image:hover img:nth-of-type(2) {
      -webkit-clip-path: var(--clip-end);
      clip-path: var(--clip-end); }
  .image-container .image-gallery {
    --clip-start: circle(0);
    --clip-end: circle(125%); }
